<template>
  <v-container>
    <v-alert type="warning" color="lime" :value="alert">
      Veillez renseigner votre email et mot de passe
    </v-alert>
    <v-form @submit.prevent="submit">
      <v-text-field
        label="E-mail"
        v-model="email"        
        required
      ></v-text-field>
       <v-text-field
        label="Mot de passe"
        v-model="password"        
        type="password"
        required
      ></v-text-field>
      <v-btn color="green" type="submit">Valider</v-btn>
    </v-form>    
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: null,
      password: null,
      alert: false
    };
  },
  methods: {
    submit() {
      if (!this.email && !this.password) this.alert = true;
      else
        console.log(
          `L'email est ${this.email}  et le mot de pass est: ${this.password} `
        );
    }
  }
};
</script>
